<%- include('../includes/header.ejs') %>
<div class="container my-5">
    <h2 class="text-center my-5"><span style=" border-bottom: 3px solid #FB3930" >Report</span></h2>
    <div class="row">
      <!-- <div class="col-2"></div> -->

            <div class="col-4">
                <a href="/admin/bank-report" >
                  <img src="../../img/bank_report.png" style="border-radius: 50%;" width="100px" height="100px" />
                  <h6 style="margin-left:30px">Bank Report</h6>
                </a>
            </div>
            <div class="col-4">
                <a href="/admin/salary-report" >
                  <img src="../../img/salary_report.png" style="border-radius: 50%;" width="100px" height="100px" />
                  <h6 style="margin-left:30px">Salary Report</h6>
                </a>
            </div>
            <div class="col-4">
                <a href="/admin/employee-wise-report" >
                  <img src="../../img/salary_report.png" style="border-radius: 50%;" width="100px" height="100px" />
                  <h6 style="margin-left:30px">Employee Wise Report</h6>
                </a>
            </div>
            
            
      <!-- <div class="col-2"></div> -->
           
    </div>
</div>
<%- include('../includes/footer.ejs') %>
