<%- include('../includes/header.ejs') %>
    <style>
        table,
        th,
        td {
            border: 2px solid black !important;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="../img/giraffe.png" width="100px;">
            </div>
            <div align="center" class="col-8">
                <div style="font-size:38px; font-weight: bolder;">GIRAFFE</div>
            </div>
            <div class="col-2">

            </div>
        </div>

    </div>
    <div class="container my-4  mx-auto rounded border">
        <div class="container mx-20 my-2 ">
            <h2 class="text-center">TAX INVOICE</h2>

            <table class="table table-bordered">
                <tr height="100px" style="text-align:center; ">
                    <td width="43%">
                        <h2 class="text-center"><strong>Giraffe Private Limited</strong></h2>

                        <p style="font-size: 18px; font-weight: bold; font-family: 'Times New Roman', Times, serif;">188 Rajdanga Main Road, Kolkata - 700107<br> GSTIN - 19A5454545454k1P</p>
                    </td>
                    <td width="14%" style="background-color: black; color: white;">
                        <h3><strong>Bill No</strong> <br> 9502</h3>
                    </td>
                    <td width="43%">
                        <h2 class="text-center"><strong>D-Two Enterprise</strong></h2>
                        <p style="font-size: 18px; font-weight: bold; font-family: 'Times New Roman', Times, serif;">66 Lal bhadur Road, Jharkhand<br> GSTIN - 20A65214145441z</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" height="50px"></td>
                </tr>
            </table>
            <table class="table table-bordered">
                <tr style="text-align:center; border-bottom: hidden;">
                    <td width="65%"><u style="font-weight: bold; font-size: 28px;">P&nbsp;&nbsp;A&nbsp;&nbsp;R&nbsp;&nbsp;T&nbsp;&nbsp;I&nbsp;&nbsp;C&nbsp;&nbsp;U&nbsp;&nbsp;L&nbsp;&nbsp;A&nbsp;&nbsp;R&nbsp;&nbsp;S</u></td>
                    <td width="20%"><u>HSN/SAC CODE</u></td>
                    <td width="25%"><u>AMOUNT (RS)</u></td>
                </tr>
                <tr style="text-align:center;">
                    <td width="65%"><u>BILL FOR THE MONTH OF JANUARY 2022</u></td>
                    <td width="20%"></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td width="65%">
                        <h6><b>COST OF TEMPORARY STAFFING SERVICES</b></h6>
                        (FULL REIMBURSEMENT OF SALARY, BASIC AND OTHER DETAILS AS FIXED BY THE PRINCIPAL AND ATTENDANCE AS GIVEN BY THEN ONLY, WITHOUT ANY MARGIN TO THE CONTRACTOR)
                    </td>
                    <td width="20%">
                        <p align="center">998513</p>
                    </td>
                    <td align="right" width="25%">10000</td>
                </tr>
                <tr style=" border-bottom: hidden;">
                    <td width="65%"><b>Principal Employer's Contribution to P.F.</b><br>
                    </td>
                    <td width="20%"></td>
                    <td align="right" width="25%">50000</td>
                </tr>
                <tr>
                    <td width="65%"><b>Principal Employer's Contribution to E.S.I.</b><br> (FULLY TO BE DEPOSIITED WITH GOVERNMENT, AFTER BEING APPROVED BY THE PRINCIPAL)
                    </td>
                    <td width="20%"></td>
                    <td width="25%"></td>
                </tr>
                <tr style=" border-bottom: hidden;">
                    <td width="65%">
                        <h6><b>OTHER ALLIED COST</b></h6>
                        (FULLY TO BE REIMBURSED, WITHOUT ANY MARGIN TO THE CONTRACTOR, AS INTRUCTED BY PRINCIPAL)
                    </td>
                    <td width="20%"></td>
                    <td align="right" width="25%">40000</td>
                </tr>
                <tr>
                    <td width="65%">
                        <h6><b>Contractor Service Charges for Payroll Management</b></h6>
                    </td>
                    <td width="20%"></td>
                    < <td align="right" width="25%">10000</td>
                </tr>
                <tr>
                    <td width="65%" height="20px" style="background-color: black; text-transform: uppercase;font-weight: bold; color: rgb(248, 247, 247);">
                        <h6>Sub Total</h6>
                    </td>
                    <td width="20%"></td>
                    <td align="right" width="25%">2,00,000</td>
                </tr>
                <tr>
                    <td width="65%">
                        <h6><b>SGST @ 9%</b></h6>
                        <h6><b>CGST @ 9%</b></h6>
                    </td>
                    <td width="20%"></td>
                    <td align="right" width="25%">18,000<br> 18,000</td>
                </tr>
                <tr>
                    <td width="65%">
                        <h6><b>GRAND TOTAL</b></h6>
                    </td>
                    <td width="20%"></td>
                    <td align="right" width="25%">2,36,000</td>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <h6><b>(ROUNDED OFF)</b></h6>
                    </td>
                    <td align="center">
                        <h6><b>0</b></h6>
                    </td>
                </tr>
                <tr height="80px">
                    <td colspan="3">
                        <p> Rupees Two Lac thirty six thousand only.</p>

                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center" style="background-color: black; color: white;">FOR MORE DETAILS PLS VIEW ANNEXURES(CHECK FULLY, APPROVE & THEN PAY)</td>
                </tr>
            </table>
            <p class="text-center" style="font-weight: bold;">NOTE</p>
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-11" align="right">
                    1) The total Payment should be made by Cheque or Net Banking only, favouring "Manpower India".
                    <br> 2) TDS, as deducted, should be credited to AKPPB9398B.
                    <br> 3) The Rate of wages, its basic component, allowances, conveyance, incentive and all other parts are determined by the principal and attendance is also supplied by them. The contractor exactly calculates on the data as provided
                    by the principal.
                    <br> 4) Honour of inovice is subject to satisfactory, checking, approval and acceptance of all above mentioned components. All services have been rendered & no dispute/claim will be entertained in future against te contractor.
                </div>

            </div>


        </div>

        <%- include('../includes/footer.ejs') %>