<style>
    #aa:after {
        content: ' \02C4';
    }
    #bb:after {
        content: ' \02C5';
    }
</style>
<div class="container mx-20 my-2 border rounded clearfix">
    <form class="needs-validation my-2" novalidate method="post" enctype="multipart/form-data" action="/admin/labour-license">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Company</label>
                <select class="form-select" id="validationCustom01" name="company7" onchange="getClient7(this.value)" required>
                    <option value="">--SELECT--</option>
                    <% if(companies.length>0){ %>
                        <% for(let company of companies){ %>
                    <option value="<%= company.id %>"><%= company.company_name %></option>
                        <% } } %>              
            </select>
                <div class="invalid-feedback">
                    Please select company!
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Client</label>
                <select class="form-select" id="client7" name="client7" > 
                </select>
                <div class="invalid-feedback">
                    Please Provide Client!
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationCustom02">From Date</label>
                <input type="date" id="datepicker" class="form-control" name="from_date2" id="validationCustom01" >
                <div class="invalid-feedback">
                    Please select from date!
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationCustom02">To Date</label>
                <input type="date" id="datepicker" class="form-control" name="to_date2" id="validationCustom01" >
                <div class="invalid-feedback">
                    Please enter to date!
                </div>
            </div>
        </div>
        <h3>Uploads</h3>
        <div class="row">
            <div class="col-md-3 mb-3">
                <input type="file" class="form-control" id="validationCustom04" name="document3" >
                <div class="invalid-feedback">
                    Please provide atleast one file.
                </div>
            </div>
            
            <div class="col-md-2 mb-3">
                <label for="validationCustom02">Remarks</label>
                <input type="text" id="datepicker" class="form-control" name="remarks2" id="validationCustom01" >
                <div class="invalid-feedback">
                    Please add remarks!
                </div>
            </div>
        </div>
        <button class="btn btn-success float-end" style="margin: left 20px;" type="submit">Upload</button>
        
        <button class="btn btn-success float-start" type="button" onclick="getReportLicense()">Report</button>
    </form>


</div>
<div class="container">
    <input type="text" class="form-control" style="width: 800px;" onkeyup="searchLabourLicense(this.value)" placeholder="Search..." />
    <div class="col-md-3">

        <button class="btn btn-danger" type="button" onclick="deleteLicenseSelected()">Delete</button>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <td><input type="checkbox" class="form-check-input" id="selectall" onchange="selectAll()" />Select</td>

            <td>Sl No</td>
            <td>Company Name</td>
            <td>Client Name</td>
            <td>Remarks</td>
            <td>From Date</td>
            <td>To Date</td>
            <!-- <td style="cursor: pointer;" onclick="changeFilter()">Validity <span style=" display: none;" id="aa"></span><span style=" display: none;" id="bb"></span></td> -->
            <td>Validity</td>
            <td>Download Options</td>
        </thead>
        <tbody id="licenseTable">
        </tbody>
    </table>
</div>

<script>
    function deleteLicenseSelected(){
       var licenses =  document.getElementsByName('deleteLicense[]');
       if(confirm("Do you really want to delete selected items?")){
        var arr = []
        licenses.forEach(element => {
            if(element.checked)
                arr.push(element.value);
        });
        $.ajax({
            type:'DELETE',
            url:'/admin/deleteSelectedLicenses',
            data:{val:arr},
            success: function (data) {
                // console.log(data);      
                getData('license');

            }
        });
       }
    }
    function getClient7(val){
        $.ajax({
        type: 'POST',
        url: '/admin/getClientForCompany',
        data: {val:val},
        success: function(clients) {
            var html = '';
            html+='<option value="">--SELECT--</option>';
            for (var i = 0; i< clients.length; i++) {
            html+=`
            <option value="${clients[i].id}">${clients[i].client_name}</option>
            `
         }
        $('#client7').html(html);
        }
      });    
    }
    
    function getReportLicense(){
        var company_id = document.getElementById('company_id').value;
        window.location = '/admin/export-license-report?company='+company_id;      

    }
    function searchLabourLicense(val){
                var monthNames = [ "January", "February", "March", "April", "May", "June", 
                       "July", "August", "September", "October", "November", "December" ];
                $.ajax({
                type: 'POST',
                url: '/admin/searchLabourLicense',
                data: {val:val},
                success: function(data) {
                    var html='';
                    for(var i =0;i<data.length;i++){
                        var dd=new Date(data[i].month_year);
                        var mm =  monthNames[dd.getMonth()];
                        var from_date = new Date(data[i].from_date);
                        var from_date_mm = from_date.getMonth()+1;
                        var to_date = new Date(data[i].to_date);
                        var to_date_mm = to_date.getMonth()+1;
                        const date2 = new Date();
                        const diffTime = Math.abs(to_date - date2);
                        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
                        const isNegDate = (to_date-date2) <0 ? true : false;
                        html+=`<tr>
                        <td><input type="checkbox" class="form-check-input" value="${data[i].id}" name="deleteLicense[]" /></td>
                        <td>${i+1}</td>
                        ${data[i].company_master ? `<td>${data[i].company_master.company_name}</td>` : ''}
                        <td>${data[i].client_master ? `${data[i].client_master.client_name}` : ''}</td>
                        <td>${data[i].remarks}</td>

                        ${data[i].from_date ? `<td>${from_date.getDate()+'-'+from_date_mm+'-'+from_date.getFullYear()}</td>` :''}
                        ${data[i].to_date ? `<td>${to_date.getDate()+'-'+to_date_mm+'-'+to_date.getFullYear() }</td>` :''}
                        ${data[i].to_date ? `<td>${isNegDate ? '<b style="color:red;">-'+diffDays+' days</b>' : diffDays+' days'} </td>` :''}

                        ${data[i].period ? `<td>${data[i].period+' '+ data[i].year}</td>` :''}
                        ${data[i].month_year ? `<td>${mm+' '+dd.getFullYear()}</td>` : ''}
                        <td>
   
                            ${data[i].ecr_challan ? `<a name="${val+data[i].id}" class="btn btn-success" href="../../${data[i].ecr_challan}" download="ECRChallan_${mm}_${dd.getFullYear()}">ECR Challan</a>`: ''}  
                      ${data[i].contribution ? `<a name="${val+data[i].id}" class="btn btn-success" href="../../${data[i].contribution}" download="Contribution_${mm}_${dd.getFullYear()}">Contribution</a>`: ''}  
                      ${data[i].payment_proff ? `<a name="${val+data[i].id}" class="btn btn-success" href="../../${data[i].payment_proff}" ${ data[i].period ? `download="ECRChallan_${data[i].period}_${data[i].year}"` : `download="PaymentProof_${mm}_${dd.getFullYear()}"` }>Payment Proof</a>`: ''}  
                      ${data[i].challan_details ? `<a name="${val+data[i].id}" class="btn btn-success" href="../../${data[i].challan_details}" download="ChallanDetails${mm}_${dd.getFullYear()}">Challan Details</a>`: ''}  
                      ${data[i].challan ? `<a name="${val+data[i].id}" class="btn btn-success" href="../../${data[i].challan}" ${ data[i].period ? `download="Challan_${data[i].period}_${data[i].year}"` : `download="Challan_${mm}_${dd.getFullYear()}"` }>Challan</a>`: ''}  
                      ${data[i].document ? `<a name="${val+data[i].id}" class="btn btn-success" href="../../${data[i].document}" download="Document_${monthNames[from_date_mm]}_${from_date.getFullYear()}">Document</a>`: ''}  

                    </td> 
                    <td><button type="button" class="btn btn-danger" onclick="deleteStatute('license',${data[i].id})">Delete</button></td>
                        </tr>`
        }
             $('#licenseTable').html(html);
        
                    
                }
             });
            }
//             function changeFilter(){
//                 var monthNames = [ "January", "February", "March", "April", "May", "June", 
//                        "July", "August", "September", "October", "November", "December" ];
              
//                 let data={};
//                     if(document.getElementById('aa').style.display=='none' && document.getElementById('bb').style.display=='none'){
//                         document.getElementById('aa').style.display='';
//                          data= Object.fromEntries(
//     Object.entries(licenseData).sort(([a,],[b,]) => a-b)
// );
// console.log(data);

//                     }else if(document.getElementById('bb').style.display=='none'){
//                         document.getElementById('aa').style.display='none';
//                         document.getElementById('bb').style.display='';
//                          data = Object.fromEntries(
//     Object.entries(licenseData).sort(([a,],[b,]) => a-b)
// );
// console.log(data);

//                     }else if(document.getElementById('aa').style.display=='none'){
//                         document.getElementById('aa').style.display='';
//                         document.getElementById('bb').style.display='none';
//                          data = Object.fromEntries(
//     Object.entries(licenseData).sort(([a,],[b,]) => b-a)
// );
// console.log(data.length);

//                     }
//                     var html='';
//                     Object.values(data).forEach((aa)=>{
//                         var dd=new Date(aa.month_year);
//                         var mm =  monthNames[dd.getMonth()];
//                         var from_date = new Date(aa.from_date);
//                         var from_date_mm = from_date.getMonth()+1;
//                         var to_date = new Date(aa.to_date);
//                         var to_date_mm = to_date.getMonth()+1;
//                         const date2 = new Date();
//                         const diffTime = Math.abs(to_date - date2);
//                         const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
//                         const isNegDate = (to_date-date2) <0 ? true : false;
                       
//                         html+=`<tr>
//                         <td></td>
//                         ${aa.company_master ? `<td>${aa.company_master.company_name}</td>` : ''}


//                         ${aa.from_date ? `<td>${from_date.getDate()+'-'+from_date_mm+'-'+from_date.getFullYear()}</td>` :''}
//                         ${aa.to_date ? `<td>${to_date.getDate()+'-'+to_date_mm+'-'+to_date.getFullYear() }</td>` :''}
//                         ${aa.to_date ? `<td ${isNegDate ? 'style=color:red;' : ''}>${isNegDate ? '<b>-'+diffDays+' days</b>' : diffDays+' days'} </td>` :''}

//                         ${aa.period ? `<td>${aa.period+' '+ aa.year}</td>` :''}
//                         ${aa.month_year ? `<td>${mm+' '+dd.getFullYear()}</td>` : ''}
//                         <td>
   
//                             ${aa.ecr_challan ? `<a name="${aa.id}" class="btn btn-danger" href="../../${aa.ecr_challan}" download="ECRChallan_${mm}_${dd.getFullYear()}">ECR Challan</a>`: ''}  
//                       ${aa.contribution ? `<a name="${aa.id}" class="btn btn-danger" href="../../${aa.contribution}" download="Contribution_${mm}_${dd.getFullYear()}">Contribution</a>`: ''}  
//                       ${aa.payment_proff ? `<a name="${aa.id}" class="btn btn-danger" href="../../${aa.payment_proff}" ${ aa.period ? `download="ECRChallan_${aa.period}_${aa.year}"` : `download="PaymentProof_${mm}_${dd.getFullYear()}"` }>Payment Proof</a>`: ''}  
//                       ${aa.challan_details ? `<a name="${aa.id}" class="btn btn-danger" href="../../${aa.challan_details}" download="ChallanDetails${mm}_${dd.getFullYear()}">Challan Details</a>`: ''}  
//                       ${aa.challan ? `<a name="${aa.id}" class="btn btn-danger" href="../../${aa.challan}" ${ aa.period ? `download="Challan_${aa.period}_${aa.year}"` : `download="Challan_${mm}_${dd.getFullYear()}"` }>Challan</a>`: ''}  
//                       ${aa.document ? `<a name="${aa.id}" class="btn btn-danger" href="../../${aa.document}" download="Document_${monthNames[from_date_mm]}_${from_date.getFullYear()}">Document</a>`: ''}  

//                     </td> 
//                     <td><button type="button" class="btn btn-danger" onclick="deleteStatute(${aa.id})">Delete</button></td>
//                         </tr>`
//         });
//              $('licenseTable').html(html);
        
                
                
//             }
function selectAll(){
        var element = document.getElementsByName('deleteLicense[]');
        if(document.getElementById('selectall').checked){ 
            for(var i=0;i<element.length;i++){
                element[i].checked=true;
            }
        }else{
            for(var i=0;i<element.length;i++){
                element[i].checked=false;
            }
        }
    }
  </script>