<%- include('../includes/header.ejs') %>
    <h4 style="text-align: center;"><span style=" border-bottom: 3px solid #FB3930; font-size: 3rem;"  ;>Creation</span></h4>
    <div class="container my-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-lg-4 col-sm-12">
                <a href="/admin/company-master">
                    <img src="../../img/company_master.png" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: -20px;">Company Master</h6>
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a href="/admin/employer-master">
                    <img src="../../img/client.jpg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: -20px;">Client Master</h6>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12">
                <a href="/admin/homepage-master">
                    <img src="../../img/news_and_notifications.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: -60px;">Home Page Notification Master</h6>
                </a>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>