<%- include('../includes/header.ejs') %>
<div class="container my-5">
    <h2 class="text-center my-5"><span style=" border-bottom: 3px solid #FB3930" >Payments & Banking</span></h2>
    <div class="row">
      <!-- <div class="col-2"></div> -->

            <div class="col-4">
                <a href="/admin/upload-payments" >
                  <img src="../../img/pdf_upload.png" style="border-radius: 50%;" width="100px" height="100px" />
                  <h6 style="margin-left:30px">PDF Upload</h6>
                </a>
            </div>
            <div class="col-4">
                <a href="/admin/view-payments" >
                  <img src="../../img/pdf_view.png" style="border-radius: 50%;" width="100px" height="100px" />
                  <h6 style="margin-left:30px">PDF View</h6>
                </a>
            </div>
            
            <div class="col-4">
              <a href="/admin/payments-excel-master" >
                <img src="../../img/excel_master.png" style="border-radius: 50%;" width="100px" height="100px" />
                <h6 style="margin-left:30px">Excel Master</h6>
              </a>
          </div>
          
      <!-- <div class="col-2"></div> -->
           
    </div>
</div>
<%- include('../includes/footer.ejs') %>
