<%- include('../includes/header.ejs') %>
    <div class="container my-5">
        <h4 style="text-align: center;"><span style=" border-bottom: 3px solid #FB3930; font-size: 3rem;"  ;>REPORT</span></h4>
        <div class="row">
          <div class="col-3">
              </div>
              <div class="col-4">
                <a href="/admin/bill-summary-module">
                    <img src="../../img/bill_summary.jpg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6>Bill Summary</h6>
                </a>
            </div>
            <div class="col-4">
                <a href="/admin/reports-module">
                    <img src="../../img/andar_bahar.jpg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left:5px">Andar Bahar</h6>
                </a>
            </div>
            
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>