<%- include('../includes/client_header.ejs') %>

    <div class="container my-5 text-center">

        <h2 class="text-center my-2"><span style=" border-bottom: 3px solid #FB3930" ;>Change Email</span></h2>
        <div class="container mx-20 my-2 ">
            <% if(message){ %>
                <% if(isError){ %>
                <h2 class="text-center alert alert-danger"><%= message %></h2>
                <% }else{ %>       
                <h2 class="text-center alert alert-success"><%= message %></h2>
                <% } %>
                <% } %>
            <form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>               
                <div class="row">                  
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom05">New Email</label>
                        <input type="email" class="form-control" id="validationCustom05"  name="new_email" placeholder="Enter New Email" >
                        <div class="invalid-feedback">
                            Please provide phone no.
                        </div>
                    </div>                                
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
    
            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>