<%- include('../includes/client_header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-2"></div>
            <div align="right" class="col-6">

                <span style="font-size: 28px;">Form No. 2 (New)</span><br><span style="font-size: 28px;">Declaration Form</span><br> (To be retained by the Employer for future reference)
            </div>
        </div>
        <div class="row">
            <div align="center" class="col-2" style="margin-top: -30px;"> <img src="/img/pf.png" width="150" height="150"> </div>
            <div align="center" class="col-10">
                <h2>Employee' Provident Fund Organisation</h2>
                <p>THE EMPLOYEES PROVIDENT FUNDS SCHEME, 1952 (PARAGRAPH-34 & 57) & THE EMPLOYEES PENSION SCHEME, 1995 (PARAGRAPH-24</p>
            </div>
        </div>
        <div class="row">
            <div align="center" class="col-12">
                <u style="text-align: center;">
              DECLARATION BY A PERSON TAKING UP EMPLOYMENT IN AN ESTABLISHMENT ON WHICH EMPLOYEES PROVIDENT FUND SCHEME,
<span style="font-weight: bold;">1952</span> AND/OR EMPLOYEES PENSION SCHEME, <span style="font-weight: bold;">1995</span> IS APPLICABLE
            </u>
                <p style="text-transform: uppercase; font-weight: bold;">(PLEASE GO THROUGH THE INSTRUCTIONS)</p>
            </div>
        </div>
    </div>
    <div class="container my-4  mx-auto rounded border">

        <div class="container mx-20 my-2 ">

            <h4 class="text-center">NOMINATION AND DECLARATION FORM FOR UNEXEMPTED/EXEMPTED ESTABLISHMENTS</h4>
            <p class="text-center">Declaration and Nomination Form under the Employees Provident Funds and Employees Pension Schemes
            </p>
            <p class="text-center">(Paragraph 33 and 61 (1) of the Employees Provident Fund Scheme 1952 and Paragraph 18 of the Employees Pension Scheme 1995)</p>
            <form class="needs-validation" novalidate>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">NAME</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="validationCustom01" readonly placeholder="Ram Kumar" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">DATE OF BIRTH</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="validationCustom01" readonly placeholder="21-01-2001" required>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">ACCOUNT NO</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="validationCustom01" readonly placeholder="PF7847522" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">SEX</label>
                    <div class="col-sm-4">
                        <input type="radio" name="rights" class="form-check-input" value="all" id="validationCustom04">
                        <label class="form-check-label" for="validationCustom04" readonly>MALE</label>
                        <input type="radio" name="rights" class="form-check-input" value="all" id="validationCustom04">
                        <label class="form-check-label" for="validationCustom04" readonly>FEMALE </label>
                    </div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">MARITAL STATUS</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="validationCustom01" readonly placeholder="Married" required>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">ADDRESS</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="validationCustom01" readonly placeholder="66 Ballygunge Place, Kolkata - 70019" required>  </textarea>
                    </div>
                </div>

                <h4 class="text-center">PART – A (EPF)</h4>
                <p class="text-center">I hereby nominate the person(s)/cancel the nomination made by me previously and nominate the person(s) mentioned below to receive the amount standing to my credit in the Employees Provident Fund, in the event of my death.</p>
                <table class="table table-bordered">
                    <tr>
                        <td>Name of the Nominee</td>
                        <td>Address</td>
                        <td>Nominee's relationship with the member</td>
                        <td>Date of birth</td>
                        <td>Total amount or share of accumulations in Provident Funds to be paid to each nominee</td>
                        <td>If the nominee is minor name and address of the guardian who may receive the amount during the minority of the nominee</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><textarea type="text" class="form-control"></textarea></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="date" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><textarea type="text" class="form-control"></textarea></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="date" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><textarea type="text" class="form-control"></textarea></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="date" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                    </tr>
                </table>
                <h4 class="text-center">PART – (EPS)</h4>
                <p class="text-center">I hereby furnish below particulars of the members of my family who would be eligible to receive Widow/Children Pension in the event of my premature death in service.</p>
                <table class="table table-bordered">
                    <tr>
                        <td>Sr. No</td>
                        <td>Name & Address of the family member</td>
                        <td>Age</td>
                        <td>Relationship with the member</td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><textarea type="text" class="form-control"></textarea></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><textarea type="text" class="form-control"></textarea></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" /></td>
                        <td><textarea type="text" class="form-control"></textarea></td>
                        <td><input type="text" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                    </tr>
                </table>
                <p class="text-center">Certified that I have no family as defined in para 2 (vii) of the Employees’s Family Pension Scheme 1995 and should I acquire a family hereafter I shall furnish Particulars there on in the above form.<br> I hereby nominate the following
                    person for receiving the monthly widow pension (admissible under para 16 2 (a) (i) & (ii) in the event of my death without leaving any eligible family member for receiving pension.</p>

                <table class="table table-bordered">
                    <tr>
                        <td>Name and Address of the nominee</td>
                        <td>Date of birth</td>
                        <td>Relationship with the member</td>
                    </tr>
                    <tr>
                        <td><textarea type="text" class="form-control"></textarea></td>
                        <td><input type="date" class="form-control" /></td>
                        <td><input type="text" class="form-control" /></td>
                    </tr>

                </table>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Signature or thumb impression
                  of the subscriber</label>
                    <div class="col-sm-6">
                        <input type="file" class="form-control" id="validationCustom01" required />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Signature or thumb impression
                  of the subscriber</label>
                    <div class="col-sm-6">
                        <input type="file" class="form-control" id="validationCustom01" required />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Name & address of the Factory /Establishment
                </label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="validationCustom01" required> </textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Place
                </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="validationCustom01" required />
                    </div>
                </div>
                <a href="/client/employee-database-edit-4-print"> <button class="btn btn-primary " type="button">Print</button></a>
                <a href="/client/employee-database-edit-5"><button class="btn btn-success " type="button">Next</button></a>
    

            </form>

            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function() {
                    'use strict';
                    window.addEventListener('load', function() {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function(form) {
                            form.addEventListener('submit', function(event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
    </div>

    <script>
        function showPreview(event) {
            //document.getElementById("isImage").value = "1";
            if (event.target.files.length > 0) {
                let src = URL.createObjectURL(event.target.files[0]);
                //$("#photo").val(event.target.files[0].size/1024);
                let preview = document.getElementById("preview");
                preview.src = src;
                preview.style.width = "120px";
                preview.style.height = "150px";
                preview.style.display = "block";
            }
        }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <%- include('../includes/footer.ejs') %>