<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    a{
        text-decoration: none;
    }
    html *
      {
          font-family: 'Times New Roman', Times, serif !important;
      }
      #background{
    position:absolute;
    z-index:-1;
    background:white;
    display:block;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
   
    color:yellow;
}


#bg-text
{
    color:lightgrey;
    font-size:120px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}
</style>
<head>
    <title>Genesis</title>
</head>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2"></div>
        <div align="right" class="col-6">

            <span style="font-size: 28px;">Form No. 2 (New)</span><br><span style="font-size: 28px;">Declaration Form</span><br> (To be retained by the Employer for future reference)
        </div>
    </div>
    <div class="row">
        <div align="center" class="col-2" style="margin-top: -30px;"> <img src="/img/pf.png" width="150" height="150"> </div>
        <div align="center" class="col-10">
            <h2>Employee' Provident Fund Organisation</h2>
            <p>THE EMPLOYEES PROVIDENT FUNDS SCHEME, 1952 (PARAGRAPH-34 & 57) & THE EMPLOYEES PENSION SCHEME, 1995 (PARAGRAPH-24</p>
        </div>
    </div>
    <div class="row">
        <div align="center" class="col-12">
            <u style="text-align: center;">
      DECLARATION BY A PERSON TAKING UP EMPLOYMENT IN AN ESTABLISHMENT ON WHICH EMPLOYEES PROVIDENT FUND SCHEME,
<span style="font-weight: bold;">1952</span> AND/OR EMPLOYEES PENSION SCHEME, <span style="font-weight: bold;">1995</span> IS APPLICABLE
    </u>
            <p style="text-transform: uppercase; font-weight: bold;">(PLEASE GO THROUGH THE INSTRUCTIONS)</p>
        </div>
    </div>
</div>

<div class="container my-4  mx-auto rounded border">
    <h2 class="text-center my-2">Form 11</h2>
    <div class="container mx-20 my-2 ">


     
    <table class="table table-bordered">
        <thead>
            <td colspan="4">Employee General Information</td>
        </thead>
        <tr>
            <td>NAME</td>
            <td  colspan="3">XXXXXXXXXXXXX</td>
        </tr>
        <tr>
            <td>DATE OF BIRTH</td>
            <td  colspan="3">XXXXXXXXXXXXX</td>
        </tr>
        <tr>
            <td>Father's / Husband's Name</td>
            <td>XXXXXXXXXXXXX</td>
           
        </tr>
        <div id="background">
            <p id="bg-text">Genesis Pvt</p>
              </div>
        <tr>
            <td>RELATIONSHIP IN RESPECT OF ABOVE</td>
            <td  colspan="3">XXXXXXXXXXXXX</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td colspan="3">XXXXXXXXXXXXX</td>
        </tr>
        
        <tr>
            <td> Mobile Number</td>
            <td>XXXXXXXXXXXXX</td>
            <td> Email Id</td>
            <td>XXXXXXXXXXXXX</td>
        </tr>
        <tr>
            <td>WHETHER EARLIER A MEMBER OF THE EMPLOYEES PROVIDENT FUND SCHEME, 1952 ?
            </td>
            <td>YES</td>
        </tr>
        <tr>
            <td>WHETHER EARLIER A MEMBER OF THE EMPLOYEES PENSION SCHEME, 1995?

            </td>
            <td>YES</td>
        </tr>
    </table>         
            <table class="table table-bordered">
                <thead>
                    <td colspan="4">A. PREVIOUS EMPLOYMENT DETAILS</td>
                </thead>
                <tr>
                    <td>UAN</td>
                    <td>XXXXXXX</td>
                </tr>
                <tr>
                    <td>DATE OF EXIT FOR PREVIOUS MEMBER ID</td>
                    <td>XXXXXXX</td>
                </tr>
                <tr>
                    <td>(A) IF SCHEME CERTIFICATE ISSUED FOR PREVIOUS EMPLOYMENT, THEN SCHEME CERTIFICATE NUMBER</td>
                    <td>XXXXXXX</td>
                </tr>
                <tr>
                    <td>IF PENSION PAYMENT ORDER (PPO) ISSUED FOR PREVIOUS EMPLOYMENT, THEN PPO NUMBER</td>
                    <td>XXXXXXX</td>
                </tr>
                </table>
           
             
                <table class="table table-bordered">
                    <thead>
                        <td colspan="4">B. OTHER DETAILS</td>
                    </thead>
                    <tr>
                        <td> INTERNATIONAL WORKER</td>
                        <td>YES</td>
                    </tr>
                    <tr>
                        <td>COUNTRY OF ORIGIN</td>
                        <td>INDIA</td>
                    </tr>   
                    <tr>
                        <td>  PASSPORT NUMBER </td>
                        <td>YES</td>
                    </tr>   
                    <tr>
                        <td>EDUCATIONAL QUALIFICATION</td>
                        <td>MATRIC</td>                     
                    </tr>                    
                    <tr>
                        <td> MARITAL STATUS</td>                    
                        <td>XXXXXXXX</td>                     
                    </tr>   
                    <tr>
                        <td> SPECIALLY ABLED </td>
                        <td>YES</td>   
                        <td>CATEGORY </td>
                        <td>HEARING</td>                    
                    </tr>   
                </table>
                <div id="background">
                    <p id="bg-text">Genesis Pvt</p>
                      </div>

              
                <table class="table table-bordered">
                    <thead>
                        <td colspan="4">KYC DETAILS</td>
                    </thead>
                    <tr>
                        <td> DOCUMENT TYPE</td>
                        <td>PERMANENT ACCOUNT
                            NUMBER (PAN)</td>
                    </tr>
                    <tr>
                        <td>NAME AS OF KYC DOCUMENT</td>
                        <td>XXXXXX</td>
                    </tr>   
                    <tr>
                        <td>KUC DOCUMENT NO</td>
                        <td>XXXXXX</td>
                    </tr>   
                             
                 
                   
                </table>


       

            <div class="mb-12 row" style=" color:white; padding: 5px;; vertical-align: bottom;  background-color: rgb(165, 160, 160);">
                <div class="col-12">
                    <p> C UNDERTAKING</p>
                </div>

            </div>
            <div class="mb-12 row">
                <div class="col-12">
                    <p><span style="padding: 5px;">A.</span> I CERTIFY THAT ALL THE INFORMATION GIVEN ABOVE IS TRUE TO THE BEST OF MY KNOWLEDGE AND BELIEF</p>
                </div>
                <div class="col-12">
                    <p><span style="padding: 5px;">B.</span> IN CASE, EARLIER A MEMBER OF EPF SCHEME, 1952 AND/OR EPS, 1995,</p>
                </div>
                <div class="col-12">
                    <p><span style=" margin-left: 10px;">(I)</span> I HAVE ENSURED THE CORRECTNESS OF MY UAN/ PREVIOUS PF MEMBER ID</p>
                </div>
                <div class="col-12">
                    <p><span style="padding: 5px;">(II)</span> THIS MAY ALSO BE TREATED AS MY REQUEST FOR TRANSFER OF FUNDS AND SERVICE DETAILS IF APPLICABLE FROM THE PREVIOUS ACCOUNT AS DECLARED ABOVE TO THE PRESENT P.F. ACCOUNT. (THE TRANSFER WOULD
                        BE POSSIBLE ONLY IF THE IDENTIFIED KYC DETAILS APPROVED BY PREVIOUS EMPLOYER HAS BEEN VERIFIED BY PRESENT EMPLOYER USING HIS DIGITAL SIGNATURE CERTIFICATE).</p>
                </div>
                <div class="col-12">
                    <p><span style="padding: 5px;">(III)</span> I AM AWARE THAT I CAN SUBMIT MY NOMINATION FORM THROUGH UAN BASED MEMBER PORTAL.</p>
                </div>

            </div>
            <div class="row" style="margin-top: 10px;">
                <div align="left" class="col-md-2">Place : </div>
                <div align="left" class="col-md-7">XXXXXXX</div>
                <div align="right" class="col-md-3">&nbsp; </div>
            </div>
            <div class="row">
                <div align="left" class="col-md-2">Date : </div>
                <div align="left" class="col-md-7">XXXXXXXXXXX</div>
                <div align="right" class="col-md-3">Signature of Member : </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="background-color:rgb(165, 160, 160);">
                    <h4 align="center"> DECLARATION BY PRESENT EMPLOYER</i>
                    </h4>
                </div>

                <div class="col-12">
                    <p><span style="padding: 5px;">A.</span> THE MEMBER MR / MS/ MRS XXXXXXXX HAS JOINED ON XXXXX AND HAS BEEN ALLOTTED PF MEMBER ID XXXXXXX</p>
                </div>
                <div class="col-12">
                    <p><span style="padding: 5px;">B.</span> IN CASE THE PERSON WAS EARLIER NOT A MEMBER OF EPF SCHEME, 1952 AND EPS, 1995:</p>
                </div>

             
                <div class="col-12">
                    <p><span style="margin-left: 15px;"> <ul><li>(POST ALLOTMENT OF UAN) THE UAN ALLOTTED FOR THE MEMBER IS</p>
                        <p><span style="margin-left: 15px;"> <li>PLEASE TICK THE APPROPRIATE OPTION:</p>
                    </li></ul></span>
                        <p style="margin-left: 50px;"> THE KYC DETAILS OF THE ABOVE MEMBER IN THE UAN DATABASE <b> HAVE NOT BEEN UPLOADED</b></p>
                </div>
              
                <div class="col-12">
                    <p><span style="margin-left: 15px;">C.</span> IN CASE THE PERSON WAS EARLIER A MEMBER OF EPF SCHEME, 1952 AND EPS, 1995:</p>

                    <p><span style="margin-left: 15px;"> <ul><li>THE ABOVE MEMBER ID OF THE MEMBER AS MENTIONED IN (A) ABOVE HAS BEEN TAGGED WITH HIS/HER UAN/PREVIOUS
                        MEMBER ID AS DECLARED BY MEMBER.</p>
                        <p><span style="margin-left: 15px;"> <li>PLEASE TICK THE APPROPRIATE OPTION:-</p>
                    </li></ul></span>
                    <div id="background">
                        <p id="bg-text">Genesis Pvt</p>
                          </div>
                        <p style="margin-left: 50px;"><span style="margin-right: 15px;"></span> AS THE DSC OF ESTABLISHMENT ARE NOT REGISTERED WITH EPFO, THE MEMBER HAS BEEN INFORMED TO FILE PHYSICAL CLAIM (FORM-13) FOR TRANSFER OF FUNDS FROM HIS PREVIOUS
                            ESTABLISHMENT.
                        </p>
                     
                </div>
            </div>
            <div class="row" style="margin-top: 50px;">
                <div align="left" class="col-md-2">Date : </div>
                <div align="left" class="col-md-3">&nbsp;</div>
                <div align="right" class="col-md-7">SIGNATURE OF EMPLOYER WITH SEAL OF ESTABLISHMENT </div>
            </div>
            

            <div class="row">
                <div class="col-md-12" style="margin-top: 50px;;">
                    <p align="center">Instructions for filling up Declaration Form</p>

                    <div class="col-12">
                        <p><span style="padding: 5px;">a.</span> Form to be filled in the language of the form.</p>
                        <p><span style="padding: 5px;">a.</span> Each box, wherever provided, should contain only one character (alphabet /number /punctuation sign) leaving a blank box after each word.
                        </p>
                        <p><span style="padding: 5px;">c.</span> The item-wise instructions to fill up the form are as follow:
                        </p>
                        <p><span style="margin-left: 15px;">1.</span>Please tick the Title (Mr/Ms/Mr5) and write full name in the form in Item No 1. It is reiterated that each box should contain only one character leaving a biank box after each word.
                            It may please be noted th at the Title (Mr/Ms/M rs) shou!é not !›e entered again in the boxes provided to write full name.
                        </p>
                      
                        <p><span style="margin-left: 15px;">2.</span>Plea5e provide Date of Birth in the form (DD/MM/YYYY) in Item No 2.
                        </p>
                        <p><span style="margin-left: 15px;">3.</span>Please provide Father’s / Husband’s Name in full in the form in hem No 3. It may please be noted that the Title (Mr/Sh.) should not be entered again i! the boxes provided to write fu(I
                            name.
                        </p>
                        <p><span style="margin-left: 15px;">4.</span>Please tick the relevant box in item no 4 based on Item no 3. Tell the relationship i.e. Father or Husband.
                        </p>
                        <p><span style="margin-left: 15px;">5.</span>Please Tick the relevant Box in Item No S.
                        </p>
                        <div id="background">
                            <p id="bg-text">Genesis Pvt</p>
                              </div>
                        <p><span style="margin-left: 15px;">6.</span>Please provide your mobile number on which formal communication can be established and necessary information can be provided through S.M.S to the member in Item No 6.
                        </p>
                        <p><span style="margin-left: 15px;">7.</span>Please provide e-mail id on which formal communication can be established and necessary information can be provided through e-mails to the member in Item No 7.
                        </p>
                        <p><span style="margin-left: 15px;">8.</span>Please tick ‘YES’ if you have previous membership of the Employees’ Provident Fund Scheme, 1952 otherwise ‘NO’ in Item No 8, which is a mandatory field.
                        </p>
                        <p><span style="margin-left: 15px;">9.</span>Please tick ‘YES’ if you have previous membership of the Employees’ Pension Scheme, 1995 otherwise ‘NO’ in Item No 9, which is a mandatory field.
                     
                        </p>
                        <p style="text-decoration: underline; margin-left: 20px;">
                            If you have ticked ’YES’ in any or both of (8) & (9) above, please fo//ow points 10, 11, & 12 to fill up the previous employment details at Item Numbers 10, 11 &12, otherwise follow 13 onwards. This is very important and should be entered with utmost
                            care as a number of services including tagging of various member IDs with UAN und its‘ portability are dependent on these details.
                        </p>
                        <p><span style="margin-left: 15px;">10.</span>Please fill Universal Account Number (UAN) Or Previous employment P.F. member ID in Item No (10).

                        </p>

                        <p><span style="margin-left: 20px;"> <ul><li>UAN is 12 digit number which has been allotted by EPFO and provided to the EPF member through employer. To check whether you have been allotted UAN against

                            your PF member ID, please go to the UAN Member e-sewa on EPFO website www.epfindia.Nov.in and click on Know your UAN status.
                            </p>
                            <p><span style="margin-left: 20px;"> <li>Previous employment P.F. member ID is to be furnished in the boxes as:</span>
                            </li>
                            </ul>
                        </p>
                        <table class="table table-bordered" style="margin-left: 20px;">
                            <tr>
                                <td>REGION CODE</td>
                                <td>OFFICE CODE</td>
                                <td>ESTABLISHMENT ID</td>
                                <td>EXTENSION</td>
                                <td>ACCOUNT NUMBER</td>
                            </tr>
                            <p> For instant, the number MH/BAN/12345/123 has to be entered as:</p>

                            <tr>
                                <td>MH</td>
                                <td>BAN</td>
                                <td>12345</td>
                                <td>000</td>
                                <td>123</td>
                            </tr>
                            <p> and the number MH/BAN/12345/A/123/ has to be entered as:</p>
                            <tr>
                                <td>MH</td>
                                <td>BAN</td>
                                <td>12345</td>
                                <td>00A</td>
                                <td>123</td>
                            </tr>
                        </table>


                  
                        <p><span style="margin-left: 15px;">11.</span>Please fill Date of Exit (i.e. Date on which member has ceased Ie work in the previous establishment) for the previous employment in Item No. 11.

                        </p>
                        <p><span style="margin-left: 15px;">12.</span>Please provide the details of Scheme Certificate in Item No. 12 {A) and Pension Payment Order in Item No. 12 (B), if the same have been issued to the member for the previous membership

                        </p>
                        <p><span style="margin-left: 15px;">13.</span>Please tick the relevant box in Item No. 13. If you are internation.II worker then fill the boxes 13(A), 13(8) & 13(C) i.e. please provide country of origin in 13(A), Passport Number
                            in 13(B) and validity period of Passport in 13(C).

                        </p>
                        <p><span style="margin-left: 15px;">14.</span>14. Please tick the relevant Box for educational qualification in Item No. 1.4.

                        </p>
                        <p><span style="margin-left: 15px;">15.</span>15. Please provide marital Status by ticking the relevant Box in Item No. 1 5.

                        </p>      <div id="background">
                            <p id="bg-text">Genesis Pvt</p>
                              </div>
                        <p><span style="margin-left: 15px;">16.</span>16. Please tick the relevant box far handicap status in Item No. 16. If response to this item is YES, please tick the relevant category in the adjacent box.

                        </p>
                        <p><span style="margin-left: 15px;">17.</span>Please provide ‘Know Your Customer (KYC)’ details of all th.e available documents mentioned in this column as far as p ossibl e. Ba nk acco unt Number with 1. F.S.C. code is mandatory.
                            Fill the name as on KYC with KYC Number and a(so L' !r. remarks in Item No 17 Remarks colum n is to fill up the relevant details i.e. I.F.S.C. code ir r.a.se of Bank account Number, ‘Valid up to’ date in case of Passport,
                            date of expiry in c‹J° of driving license.

                        </p>
                        <p style="text-decoration: underline; margin-left: 20px;"> It is very important to note that KYC details are required to pr Idea bed er services to the members and hence details of maximum number of documents s.la uld be provided in the Item No. 17.</p>
                        <p <span style="margin-left: 15px;">d.</span> Please put your signature in the space provided with date and place. Please submit the filled up form to the present employer.</p>
                        <p <span style="margin-left: 15px;">e.</span> The present employer is required to take necessary action as explained in detail on EPFO website under UAN services and fill up the necessary details with is signature, designation and seal in the space provided.</p>
                    </div>
                </div>
            </div>
    </div>
    <button type="button" id="bt" class="btn btn-primary text-center" onclick="printt()">Print</button>
</form>

</div>


<script>
    function printt(){
       document.getElementById('bt').style.display="none";
        window.print();
    }
</script>