<%- include('../includes/client_header.ejs') %>
   
        <h2 class="text-center"><span style=" border-bottom: 3px solid #FB3930" ;>Employee Database</span></h2>
	
                <%- include('./employee_database_view.ejs') %>

     
 
    <%- include('../includes/footer.ejs') %>
       