<%- include('../includes/client_header.ejs') %>
    <div class="container my-4  mx-auto rounded border">
        <div class="container mx-20 my-2 ">
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6">
                    <h2 class="text-center">Genesis Group of Firms</h2>
                    <p class="text-center">HOUSE OF GENESIS<br> BF - 52, 117 SHANTIPALLY EKTP, KOLKATA - 700107.
                    </p>
                </div>
                <div align="right" class="col-3" style="padding: 10px;">
                    <img src="/img/new.png">
                </div>
            </div>
            <div class="mb-3 row" style="margin-top: 20px;">
                <div class="col-sm-1">

                </div>
                <div class="col-sm-3">
                    <span style="font-weight: bold;">Mr./Mrs. RAM LAL YADAV </span> <br> 25 Purna Das Lane, Uttarpara Kolkata - 700021<br> Aadhar No -12345141221121</br>
                    Designation - Manager
                </div>
                <div class="col-sm-5">

                </div>
                <div class="col-sm-3">
                    D2 PRIVATE LIMITED <br> 222 Thakurpukur Main Road, Behala Kolkata - 700091<br> GSTIN No -19A5254141221121</br>

                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    Date: - 27 - 04 - 2001
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <p class="text-center"><u style="font-weight: bold;">Sub – Offer Letter For Job.</u></p>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p>Following an interview you had with our client, we have pleasure in offering you a job for the post of <span style="font-weight: bold;">Manager</span> in <span style="font-weight: bold;">21 - 01- 2001</span> one of our client’s places
                        on the following terms and conditions:
                    </p>
                </div>


            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>PERIOD:</u></b> - Your INITIAL contract of employment, should be shall be valid for a period of TWENTY FOUR months from <span style="font-weight: bold;"> 21-01-2022,</span> WHICH IS YOUR JOINING DATE. After that You will get
                        a Confirmation Letter Of Extension Of Contract.</p>

                </div>


            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <b><u>1) COMPENSATION: -</u></b>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <table class="table table-bordered">
                        <tr>
                            <td><u>Basic Salary</u></td>
                            <td><u>HRA</u></td>
                            <td><u>Gross Salary</u></td>
                        </tr>
                        <tr>
                            <td>15000</td>
                            <td>5000</td>
                            <td>12000</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <u>You will also be entitled For Leave, Ex Gratia /  Annual Bonus and Other Super Annuation Benefits , as Per Act N Law Of The Land </u>
                </div>

            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    From Gross Earnings, Statutory Deductions, as per applicability Of Law Of Land, Namely EPFO, ESIC, Profession Tax, TDS u/s 192B, LWF, will be deducted,<b> If You Fall In The Ambit Of The same. </b>
                </div>

            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    The Salary will be paid around 7th of Every Month, through your Bank account and Immediately After Disbursement Of Your Salary By Client
                </div>

            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>2) LEAVES AND HOLIDAYS:</u></b> - Under Normal Circumstance, you will have to work 6 days in a week. But if Company demands you to work on Sundays and Holidays, you will be ready to work for the same., with extra compensation,
                        as per Law Of The Land
                    </p>

                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>3) PLACE OF WORK:</u></b> - Irrespective of your present place of work, where you are assigned, depending upon the requirement of the Company, you are liable to be deputed anywhere, in the same compensation. Non Acceptance of
                        the same, may immediately terminate you from the job. </p>

                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>4) TERMINATION OF CONTRACT –</u></b> Even before the expiry of the service contract, as mentioned above, either of the party will be entitled to terminate the contract, by giving 30 days’ notice or 30 days’ Salary in lieu thereof.
                        However, on any disciplinary ground, or for any reason of job refusal, reluctance for overtime, creating nuisance and anarchy in the Office, instigating colleagues’ for anything against the interest of the Office, or for any unethical
                        act on your part, the Client has got every right to terminate the contract without giving any notice at all.. <b><u>The contract may change from time to time which you are bound to follow. </u></b>
                    </p>

                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>5) DISPUTES -</u></b> Any dispute between yourself and The Company concerned with or relating to, or arising out of this contract, shall be subject to the Jurisdiction of and be determined, by the court of competent Jurisdiction
                        in Kolkata only.</p>

                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>6) CLAUSE OF ARBITRATION: -</u></b> All the disputes and differences between the parties shall be resolved by way of Arbitration of a sole Arbitrator to be appointed by S. N Chatterjee, Advocate, of Room 5 Bar Library, Alipore
                        Judges Court. Such Arbitrator will be entitled to act summarily and the decision of such arbitrator shall be binding on the parties.
                    </p>

                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>7) OTHERS -</u></b>During the tenure of the service contract with us, you are to devote your whole time, attention and ability to the interest of the Company and should not engage in any other business and job. Breach of this
                        on your part will entitled the Company to immediately terminate your service contract.
                        <br> You shall, at no point of time, stake any claim or write to claim employment damage, loss or compensation of any sort whatever against <b>D2 PRIVATE LIMITED</b>, This arrangement is purely a contractual agreement between GENESIS
                        <u>& D2 PRIVATE LIMITED</u>, for the time specified.
                        <br> You shall not engage in any act, subversive of discipline in the course of your duty / lies in the property of /b>D2 PRIVATE LIMITED</b>, or outside and if you were at any time found indulging in such acts, insubordination
                        or intemperance, we reserve the right to initiate disciplinary actions as is deemed fit, against you, and it may also lead to terminate of the contract.
                        <br> You shall be responsible for protecting the property of <b>D2 PRIVATE LIMITED</b>, entrusted to you in the due discharge, of your duties, and shall indemnify <b>D2 PRIVATE LIMITED</b>, when there is a loss of any kind to the
                        said property.
                        <br> You are to treat as strictly confidential the affairs of the company and its clients of which you may be cognizant, particularly of Drawing, Quotation, Specifications, and Rates and other Business Information.
                        <br>
                        <b>We are consciously endeavoring to build an atmosphere of mutual trust, reliability. Response and Autonomy are open to discussions and suggestions from all members of our Corporate Family. </b>
                        <br>
                        <b>As a new entrant, we hope you will contribute positively and whole heartedly to this process.
                        </b>
                    </p>

                </div>
            </div>

            <div class="mb-3 row" style="margin-top: 100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    D2 Private Limited<br> <img src="/img/new.png" width="50" height="50"><br>
                    <img src="/img/employer_sign.png" width="120" height="80">

                </div>
                <div align="right" class="col-sm-2">
                    <img src="/img/sign.png" width="50" height="50"><br>
                    <p>Employee Signature</p>
                </div>
            </div>

            <div class="mb-3 row" style="margin-top: 50px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <b>AS A TOKEN OF YOUR ACCEPTANCE OF THE ABOVE MENTIONED TERMS AND CONDITIONS, YOU ARE REQUESTED TO SIGN A PHOTOCOPY OF THE LETTER AND RETURN BACK TO US. THIS WILL DEFINITELY ENCOURAGE THE RELATIONSHIP AND REGULARIZE YOUR ATTENDANCE, SALARY
                    </b>
                </div>
            </div>
            <a href="/client/employee-database-edit-3-print"> <button class="btn btn-primary " type="button">Print</button></a>
            <a href="/client/employee-database-edit-4"><button class="btn btn-success " type="button">Next</button></a>

        </div>
        </div>
        <%- include('../includes/footer.ejs') %>