<%- include('../includes/client_header.ejs') %>
    <div class="container my-4  mx-auto rounded border">
        <div class="container mx-20 my-2 ">
            <div class="row">
                <div class="col-3">

                </div>
                <div class="col-6">
                    <h2 class="text-center">Genesis Group of Firms</h2>
                    <p class="text-center">HOUSE OF GENESIS<br> BF - 52, 117 SHANTIPALLY EKTP, KOLKATA - 700107.
                    </p>
                </div>
                <div align="right" class="col-3" style="padding: 10px;">
                    <img src="/img/new.png">
                </div>
            </div>


            <div class="mb-3 row" style="margin-top: 25px;;">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    Date of Joining : 24/02/2022
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <span style="font-weight: bold;">Mr./Mrs. Ram Kumar</span><br> 25 Purna Das Lane, Uttarpara<br> Kolkata - 700021<br> Aadhar No -12345141221121<br> Designation - Manager

                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <p class="text-center"><u style="font-weight: bolder;">Subject: Letter Of Contract Employment</u></p>
            <div class="mb-3 row" style="margin-top: 50px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>PERIOD:</u></b> - Your INITIAL contract of employment shall be valid for a period of <b>THIRTY SIX</b> months from the date you join your work station. Notwithstanding this, in the event of the project / assignment for which
                        you are being employed comes to an end before the aforementioned period, this contract shall be contaminated with the aforementioned project / assignment. At the end of the above-referred period the contract will stand terminated
                        automatically without any notice or communication to you, unless they are explicitly extended , by a letter in writing.</p>

                </div>


            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <b><u>1) COMPENSATION: -</u></b>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <table class="table table-bordered">
                        <tr>
                            <td><u>Basic Salary</u></td>
                            <td><u>HRA</u></td>
                            <td><u>Gross Salary</u></td>
                        </tr>
                        <tr>
                            <td>15000</td>
                            <td>5000</td>
                            <td>12000</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <b><u>Deduction of EPF @ 12%, ( if applicable)  ESIC @ 0.75% ( if applicable)  as per statute and  P.T. on Gross Earnings only will be made.
                </u></b>
                </div>

            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    The Principal has assured that salary will be paid on or about 7th of every month, through your Bank account.

                </div>

            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>2) LEAVES AND HOLIDAYS:</u></b> - Under Normal Circumstance, you will have to work 6 days in a week. But if Company demands you to work on Sundays and Holidays, you will be ready to work for the same at an extra compensation
                        as per law of the land/ offer by the Principal. Holidays will be as per client’s calendar.
                    </p>

                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>3) TERMINATION OF CONTRACT –</u></b> Even before the expiry of the service contract, as mentioned above, either of the party will be entitled to terminate the contract, by giving 15 days’ notice or 15 days’ Salary in lieu thereof.
                        However If it is on disciplinary ground which hampers Client’s activities, no notice will be served.
                    </p>

                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>4) DISPUTES -</u></b> Any dispute between yourself and the Company concerned with or relating to, or arising out of this contract, shall be subject to the jurisdiction of and be determined, by the court of competent jurisdiction
                        in Kolkata only. </p>

                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    Please Note, that you are employee of GIRAFFE, who pays your salary, and deposits your Statutory Contribution. So, regarding any labour oriented / HR issues, you will be only communicating with GIRAFFE, and nobody else. You cannot communicate/disturb/
                    annoy/ harass/ interrogate our Client regarding any HR Issues.
                </div>
            </div>
            <div class="mb-3 row" style="margin-top: 100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    <img src="/img/new.png" width="50" height="50"><br> Authorized Signatory<br> Sign and Stamp

                </div>
                <div align="right" class="col-sm-2">
                    <img src="/img/sign.png" width="50" height="50"><br>
                    <p>Employee Signature</p>
                </div>
            </div>
        </div>
        <div class="container border-top border-4 mx-20 my-2 " style="margin-top: 25px; ">
            <div class="row" style="margin-top: 25px; border border-4">
                <div class="col-3">

                </div>
                <div class="col-6">
                    <h2 class="text-center">Genesis Group of Firms</h2>
                    <p class="text-center">HOUSE OF GENESIS<br> BF - 52, 117 SHANTIPALLY EKTP, KOLKATA - 700107.
                    </p>
                </div>
                <div align="right" class="col-3" style="padding:10px;">
                    <img src="/img/new.png">
                </div>
            </div>
            <div class="mb-3 row" style="margin-top: 25px;;">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    Date of Joining : 24/02/2022
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <span style="font-weight: bold;">Mr./Mrs. Ram Kumar</span><br> 25 Purna Das Lane, Uttarpara<br> Kolkata - 700021<br> Aadhar No -12345141221121<br> Designation - Manager

                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                </div>
            </div>


            <p class="text-center"><u>বিষয়: প্রকল্পভিত্তিক/চুক্তিভিত্তিক নিয়োগপত্র
        </u></p>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    আমাদের ক্লায়েন্টের সহিত আপনার ইন্টারভিউ-এর ভিত্তিতে, আমরা আপনাকে ______________পোস্টের জন্য আমাদের ক্লায়েন্ট এর জায়গা________________তে একটি প্রকল্প / চুক্তিভিত্তিক চাকুরীর প্রস্তাব দিয়ে আনন্দিত, নিম্নলিখিত শর্তাবলী সাপেক্ষে: -
                </div>


            </div>
            </u>
            </p>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b>১) মেয়াদ:-</b> আপনার কর্মস্থলের প্রাথমিক চুক্তিটি আপনি আপনার কর্মস্থলে যোগদানের তারিখ থেকে ৩৬ মাসের জন্য বৈধ হবে। উপরের উল্লিখিত সময় শেষের আগেই যদি প্রকল্পটি কোনো কারণে শেষ হয়ে যায় তাহলে আপনার চুক্তি অনিবার্য কারণে বাতিল হবে|
                        ৩৬ মাসের পর প্রকল্পটি যদি চালু থাকে তাহলে আপনাকে সুস্পষ্ট এবং লিখিতভাবে জানানো হবে|
                    </p>
                </div>


            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <b><u>২) বেতন:-
                </u></b>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <table class="table table-bordered">
                        <tr>
                            <td><u>বেসিক</u></td>
                            <td><u>গৃহ ভাতা</u></td>
                            <td><u>মোট মাহিনা</u></td>
                        </tr>
                        <tr>
                            <td>15000</td>
                            <td>5000</td>
                            <td>12000</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <b><u>ই.পি.এফ, ই.এস.ই.সি. অবদান ও পি.ট্যাক্স কাটা হবে, যদি প্রযোজ্য হয়।
                </u></b>
                </div>

            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    আপনার প্রধান নিয়োগকর্তা আশ্বাস দিয়েছেন যে আপনার ব্যাঙ্ক অ্যাকাউন্টের মাধ্যমে প্রতি মাসের ৭ তারিখের মধ্যে বেতন দেওয়া হবে।
                </div>

            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>৩) ছুটি AND HOLIDAYS:-</u></b> সাধারণ পরিস্থিতিতে অধীনে আপনাকে সপ্তাহে 6 দিন কাজ করতে হবে। তবে যদি আপনার প্রধান নিয়োগকর্তা আপনাকে রবিবার এবং ছুটির দিনে কাজ করার জন্য অনুরোধ করে, তবে আমরা আশা করি আপনি সে অনুরোধ পালন করবেন এবং
                        এর জন্য অতিরিক্ত বেতন আপনাকে নিশ্চই দেয়া হবে|</p>

                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>৪) চুক্তির অবসান: –</u></b> চুক্তি চলাকালীন যেকোনো পক্ষ ১৫ দিনের নোটিশ অথবা ১৫ দিনের বেতনের বিনিময়ে চুক্তি ভঙ্গ করতে পারবে| তবে চুক্তির অবসান যদি আপনার দুর্নীতি/অশালীনতার জন্য হয়, যা আপনার প্রধান নিয়োগকর্তার কার্যপ্রবাহকে বাধা
                        দেয়, সেক্ষেত্রে কোনও নোটিশ দেওয়া হবে না। </p>

                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <p><b><u>৫) মতানৈক্য:-</u></b> এই চুক্তির সাথে সম্পর্কিত আপনার এবং কোম্পানির মধ্যে যে কোনও বিরোধ/মতানৈক্য কেবল কলকাতা হাই কোর্টের অধীনে মীমাংসিত হবে। </p>
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    মনে রাখবেন, আপনি জিরাফ-এর কর্মচারী, যে আপনার বেতন প্রদান করে এবং আপনার ই.পি.এফ, ই.এস.ই.সি. অবদান জমা দেয়। সুতরাং, যে কোনও এইচ.আর সম্পর্কিত সমস্যা হলে আপনি কেবল জিরাফ-কেই জানাবেন, এবং অন্য কারও সাথে যোগাযোগ করবেন না। কোনও এইচ.আর সম্পর্কিত সমস্যা নিয়ে আপনার
                    প্রধান নিয়োগকর্তাকে বিরক্ত / জিজ্ঞাসাবাদ করবেন না। </div>

            </div>
            <div class="mb-3 row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">

                    জেনেসিস পরিবারে আপনাকে স্বাগত জানাই|

                </div>
                <div class="mb-3 row" style="margin-top: 20px;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        নমস্কারান্তে<br> জিরাফ


                    </div>
                </div>

                <div class="mb-3 row" style="margin-top: 100px;">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-9">
                        <img src="/img/new.png" width="50" height="50"><br> অনুমোদিত স্বাক্ষরকারী
                        <br> (সই ও সিলমোহর)

                    </div>
                    <div align="right" class="col-sm-2">
                        <img src="/img/sign.png" width="50" height="50"><br>
                        <p>কর্মচারীর স্বাক্ষর </p>

                    </div>
                </div>

           





            </div>
            <a href="/client/employee-database-edit-2-print"> <button class="btn btn-primary " type="button">Print</button></a>
            <a href="/client/employee-database-edit-3"><button class="btn btn-success " type="button">Next</button></a>

        </div>
        </div>
        <%- include('../includes/footer.ejs') %>