<%- include('../includes/client_header.ejs') %>
    <h4 style="text-align: center;"><span style=" border-bottom: 3px solid #FB3930; font-size: 3rem;"  ;>REGISTERS & PAYSLIP</span></h4>
    <div class="container my-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <a href="/client/payslip">
                    <img src="../../img/wage_registers_and_payslips.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left:10px">Payslip</h6>
                </a>
            </div>
            <div class="col-4">
                <a href="/client/wage-register">
                    <img src="../../img/wage_register.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6>Wage Register</h6>
                </a>
            </div>
            <div class="col-3">
                <a href="/client/attendance-register">
                    <img src="../../img/wage_register.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left:-30px">Attendance Register</h6>
                </a>
            </div>

        </div>
    </div>
    <%- include('../includes/footer.ejs') %>