<div class="container">
<div class="row">
 <div class="col-md-3 mb-3">
                    <label for="validationCustom02">Company</label>
                    <select class="form-select" id="validationCustom01" required>
                <option class="">Select Company</option>
               <option class="ABCD">Genesis</option>
              <option class="XYZ">Giraffe</option>
            </select>
                    <div class="invalid-feedback">
                        Please select company!
                    </div>
                </div>
				 <div class="col-md-3 mb-3">
                    <label for="validationCustom02">Client</label>
                    <select class="form-select" id="validationCustom01" required>
                <option class="">Select Client</option>
               <option class="ABCD">D2</option>
              <option class="XYZ">D3</option>
            </select>
                    <div class="invalid-feedback">
                        Please select company!
                    </div>
                </div>
				 <div class="col-md-3 mb-3">
                    <label for="validationCustom02">Year</label>
                     <input type="month" id="datepicker" class="form-control" id="validationCustom01" required>
                    <div class="invalid-feedback">
                        Please select company!
                    </div>
                </div>
				<div class="col-3" style="margin-top:25px;">
				<button class="btn btn-primary " type="submit">Submit</button>
				</div>
</div>
</div>


<div class="container">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <td>Sl No</td>
            <td>Company Name</td>
            <td>Client Name</td>
            
            <td>Month - Year</td>
            <td align="center" colspan="4">Option</td>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>ABC</td>
                <td>ABC</td>
                
                <td>March-2022</td>
                <td><button class="btn btn-danger " type="submit">View</button></td>
                <td><button class="btn btn-info " type="submit">Edit</button></td>
                <td><button class="btn btn-primary " type="submit">Delete</button></td>
                <td><button class="btn btn-danger " type="submit">Print</button></td>
                <td><button class="btn btn-success " type="submit">Download</button></td>

            </tr>
            <tr>
                <td>2</td>
                <td>ABCD</td>
                <td>ABCD</td>
          
                <td>April-2022</td>
                <td><button class="btn btn-danger " type="submit">View</button></td>
                <td><button class="btn btn-info " type="submit">Edit</button></td>
                <td><button class="btn btn-primary " type="submit">Delete</button></td>
                <td><button class="btn btn-danger " type="submit">Print</button></td>
                <td><button class="btn btn-success " type="submit">Download</button></td>
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>