<%- include('../includes/header.ejs') %>
    <h4 style="text-align: center;"><span style=" color: white; border-bottom: 3px solid #FB3930; font-size: 3rem;" >Welcome to Genesis Family</span></h4>
    <div class="container my-5 text-center">
        <div class="row text-center">
            <div class="col-lg-4 col-sm-12 text-center">
                <a href="/admin/master">
                    <div class="card text-dark text-center bg-warning mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">CREATION</h5>
                        </div>
                    </div>
                </a>
            </div>
           
            <div class="col-lg-4 col-sm-12">
                <a href="/admin/user-management">
                    <div class="card text-dark text-center bg-warning mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">USER MANAGEMENT</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a href="/admin/news-hr-reports">
                    <div class="card text-dark text-center bg-warning  mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">NEWS & HR REPORTS </h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr style="height: 5px; color:black;">
        <div class="row">
            
            <div class="col-lg-3 col-sm-12">
                <a href="/admin/new">
                    <div class="card text-dark text-center bg-warning mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 1.8rem;">NEW REGISTRATION</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12">

                <a href="/admin/idcardmodule">
                    <div class="card text-dark text-center bg-warning  mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">ID CARD</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12">
                <a href="/admin/statute">
                    <div class="card text-dark text-center bg-warning mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">STATUTE</h5>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-3 col-sm-12">
                <a href="/admin/payments">
                    <div class="card text-dark text-center bg-warning mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">PAYMENTS & BANKING</h5>
                        </div>
                    </div>
                </a>
            </div>

            <hr style="height: 5px; color:black;">


        
            <div class="col-lg-4 col-sm-12">
                <a href="/admin/invoice-master">
                    <div class="card text-dark text-center bg-warning  mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">INVOICE</h5>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-12">
                <a href="/admin/accounts-ledger">
                    <div class="card text-dark text-center bg-warning  mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">ACCOUNTS & LEDGER</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a href="/admin/registration-payslip">
                    <div class="card text-dark text-center bg-warning  mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">REGISTERS & PAYSLIPS</h5>
                        </div>
                    </div>
                </a>
            </div>          
       
            <hr style="height: 5px; color:black;">
              <!-- <div class="col-lg-4 col-sm-12">
                <a href="/admin/tds-return">
                    <div class="card text-dark text-center bg-warning  mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">TDS Return</h5>
                        </div>
                    </div>
                </a>
            </div> -->

            <div class="col-lg-4 col-sm-12">
                </div>

            <div class="col-lg-4 col-sm-12">
                <a href="/admin/master-blaster-data">
                    <div class="card text-dark text-center bg-danger  mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem; color: yellow;">MASTER BLASTER</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>