<%- include('../includes/newHeader.ejs') %>
    <h4 style="text-align: center;"><span style=" border-bottom: 3px solid #FB3930; font-size: 3rem;"  ;>Generator</span></h4>
    <div class="container my-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-lg-4 col-sm-12">
                <a href="/employee/bill-maker">
                    <img src="../../img/bill_maker.png" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: -20px;">Wage Register <br> <span style="margin-left: 50px;">&</span> <br> Payslip Generator</h6>
                </a>
            </div>
            <div class="col-lg-4 col-sm-12">
                <a href="/employee/invoice-generator">
                    <img src="../../img/bill_maker.png" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: 20px;">Invoice <br> Generator</h6>
                </a>
            </div>
            <div class="col-lg-3 col-sm-12">
                <a href="/employee/digital-invoice">
                    <img src="../../img/bill_maker.png" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: 20px;">Digital <br> Invoice</h6>
                </a>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>