<%- include('../includes/newHeader.ejs') %>
     <h4 style="text-align: center;"><span style=" border-bottom: 3px solid #FB3930; font-size: 3rem;"  ;>ID-CARD</span></h4>
    <div class="container my-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <a href="/employee/bulk-id-card">
                    <img src="../../img/id_card.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: 25px;">Bulk</h6>
                </a>
            </div>
            <div class="col-4">
                <a href="/employee/individual-id-card">
                    <img src="../../img/id_card.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6>Individual</h6>
                </a>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
    <%- include('../includes/footer.ejs') %>