<div class="container">
    <div class="container mx-20 my-2 ">
        <form class="needs-validation"  novalidate method="post" action="/admin/invoice-report" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Company</label>
                <select class="form-select" id="company_get" name="company">
                  <option value="">Select</option>
                  <% if(companies.length>0){ %>
                      <% for(let company of companies){ %>
                  <option value="<%= company.id %>"><%= company.company_name %></option>
                      <% } } %>
              </select> 

              </div>
              <div class="col-md-4 mb-3">
                <label for="validationCustom01">Month & Year</label>
                <input class="form-control" type="month" id="month_year" name="month_year" />

              </div>
              <div class="col-md-4 mb-3">     
           
              <button style="margin-top: 20px;" class="btn btn-primary" type="submit">Get</button>
              </div>
            </div>
          
          
          </form>
          
    
    </div>

   
</div>