<%- include('../includes/newHeader.ejs') %>
    <div class="container my-5">
        <div class="row">
            <h2 class="text-center">Invoices</h2>
            <div class="col-4">
                <a href="/employee/invoice">
                    <div class="card text-dark text-center bg-warning mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Invoice</h5>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-4">
                <a href="/employee/service-master">
                    <div class="card text-dark text-center bg-warning mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Service Master</h5>
                        </div>
                    </div>
                </a>
            </div>           -->
            <!-- <div class="col-4">
                <a href="/employee/note-master">
                    <div class="card text-dark text-center bg-warning mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title">Note Master</h5>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>