<%- include('../includes/newHeader.ejs') %>
<h2 align="center">MASTER BLASTER</h2>

    <div class="container my-5">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <a href="/employee/mb-employee-master">
                    <img src="../../img/employee_report.png" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: -20px;">Employee Database</h6>
                </a>
            </div>
            <div class="col-3">
                <a href="/employee/mb-salary-master">
                    <img src="../../img/salary_master.jpg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6 style="margin-left: -10px;">Salary Database</h6>
                </a>
            </div>

            <div class="col-3">
                <a href="/employee/mb-exit-report">
                    <img src="../../img/exit_report.jpg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6>Exit Report</h6>
                </a>
            </div>
            <div class="col-2">
                <a href="/employee/employee-report" >
                  <img src="../../img/employee-report.jpg" style="border-radius: 50%;" width="100px" height="100px" />
                  <h6 style="margin-left:30px">Report</h6>
                </a>
            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>