<%- include('../includes/newHeader.ejs') %>
  <div class="container my-5">
    <h2 class="text-center my-5"><span style=" border-bottom: 3px solid #FB3930" >Payments & Banking</span></h2>
    <div class="row">
      <!-- <div class="col-2"></div> -->

      <div class="col-4">
        <a href="/employee/upload-payments" >
          <img src="../../img/payments_and_banking.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
          <h6 style="margin-left:30px">Upload</h6>
        </a>
    </div>
    <div class="col-4">
        <a href="/employee/view-payments" >
          <img src="../../img/payments_and_banking.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
          <h6 style="margin-left:30px">View</h6>
        </a>
    </div>

    <div class="col-4">
      <a href="/employee/payments-excel-master" >
        <img src="../../img/excel_master.png" style="border-radius: 50%;" width="100px" height="100px" />
        <h6 style="margin-left:30px">Excel Master</h6>
      </a>
  </div>           
    </div>
</div>
<%- include('../includes/footer.ejs') %>
