<%- include('../includes/newHeader.ejs') %>     <h4 style="text-align: center;"><span style=" border-bottom: 3px solid #FB3930; font-size: 3rem;"  ;>REGISTERS & PAYSLIP</span></h4>
    <div class="container my-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <a href="/employee/payslip-bulk">
                    <div class="card text-white text-center bg-dark mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">BULK</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="/employee/payslip-individual">
                    <div class="card text-white text-center bg-dark mb-3" style="max-width: 18rem; height: 100px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 2rem;">INDIVIDUAL</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
    <%- include('../includes/footer.ejs') %>