<%- include('../includes/newHeader.ejs') %>
<h4 style="text-align: center;"><span style=" border-bottom: 3px solid #FB3930; font-size: 3rem;"  ;>ACCOUNTS & LEDGER</span></h4>

    <div class="container my-5">
        <div class="row">            
            <div class="col-2"></div>
                <div class="col-4">
                <a href="/employee/tds-exemption">
                    <img src="../../img/reports.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6>TDS EXEMPTION</h6>
                </a>
            </div>
            <div class="col-3">
                <a href="/employee/tds-return">
                    <img src="../../img/reports.jpeg" style="border-radius: 50%;" width="100px" height="100px" />
                    <h6>TDS RETURN</h6>
                </a>
            </div> 
          
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>